header {
    background-color: #E3755D;
    text-align: center;
    padding: 30px;
    font-size: 42px;
}

.pr1 {
    background-color: #E3755D;
    color: black;
    text-align: center;
    padding: 10px;
    flex: 1;
    font-size: 22px;
}

.pr2 {
    background-color: #E3755D;
    color: black;
    text-align: center;
    padding: 10px;
    flex: 1;
    font-size: 22px;
}

.pr3 {
    background-color: #E3755D;
    color: black;
    text-align: center;
    padding: 10px;
    flex: 1;
    font-size: 22px;
}

main {
display: flex;
}

a:hover {
    background: #44CCEA;
}