.head {
    text-align: left;
    color: white;
    font-size: 42px;
    font-family: Arial, sans-serif;
    background-color: #77adda;
    padding: 20px;
}

.project1 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    background-color: #9BE45E;
    color: white;
    padding: 20px;
    height: 200px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.project2 {
    font-size: 22px;
    font-family: Arial, sans-serif;
    background-color: #E4C55E;
    padding: 20px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

footer {
    background-color: #77adda;
    color: white;
    font-size: 22px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

main {
    display: flex;
}

a {
    color: blue;
}

a:hover {
    background-color: white;
}

.p1 {
    font-size: 16px;
    color: black;
    padding: 10px;
}

.mail {
    color: #F7064C;
}

nav {
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 30px;
    margin-bottom: 15px;
}

td {
    text-align: center;
    padding: 5px;
    border: 4px solid #ffffff;
    background-color: gray;
    font-family: Arial, sans-serif;
}

p {
    color: black;
}

div {
    margin: 10px;
    position: center;
}

.t {
    display: table;
    width: 100%;
    height: auto;
}

ul {
    display: table-row;
}

li {
    display: table-cell;
}

iframe {
    display: block;
}